
@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}
@if (TempData["MensgemErro"] != null)
{
    <div class="alert alert-danger mb-0 alert-dismissible fade show d-flex" id="alertExample" role="alert" data-mdb-color="secondary">
        <button type="button" class="btn-close" id="close-alert" aria-label="Close"></button>
        <span class="material-symbols-outlined" style="padding-right:5px;">
            error
        </span>
        @TempData["MensgemErro"]
    </div>
}

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form class="sign-in-form" asp-asp-controller="Login" asp-action="Entrar" method="post">
                    <img src="~/img/logo.png" alt="logo">
                    <br />
                    <h2 class="title">Login</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Login" asp-for="Login"/>
                    </div>
                    @Html.ValidationMessageFor(x => x.Login)
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" asp-for="Password"/>
                    </div>
                    @Html.ValidationMessageFor(x => x.Password)
                    <input type="submit" value="Entrar" class="btn solid" />
                    <p class="social-text">Ou faça login em plataformas sociais</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
                <form action="#" class="sign-up-form">
                    <img src="~/img/logo.png" alt="logo">
                    <br />
                    <h2 class="title">Cadastro</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <input type="submit" class="btn" value="Registrar" />
                    <p class="social-text">Ou faça seu cadastro em plataformas sociais</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Novo Aqui?</h3>
                    <p>
                        Faça seu cadastro para ter seus contatos na palma da mão
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Cadastrar
                    </button>
                </div>
                <img src="~/img/log.svg" class="image imagem-log" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Já é um membro?</h3>
                    <p>
                        Faça o login em sua conta e veja o que a de novo para você
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        Entrar
                    </button>
                </div>
                <img src="~/img/register.svg" class="image imagem-register" alt="" />
            </div>
        </div>
    </div>
</body>