@{
    ViewData["Title"] = "Apagar Registro";
}
<div class="card shadow p-3 mb-5 bg-white rounded">
    <form>
        <div class="d-flex">
            <div>
                <div class="form-group">
                    <label class="picture_show" for="picture_upload" tabindex="0">
                        <img src="/img/sem-foto.jpg" alt="contato" class="exibe_foto">
                    </label>
                </div>
            </div>

            <div class="boxInputs">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome:</label>
                </div>
                </br>
                <div class="form-group">
                    <label for="exampleInputPassword1">E-mail:</label>
                </div>
                </br>
                <div class="form-group">
                    <label for="exampleInputPassword1">Celular:</label>
                </div>
            </div>
        </div>

        </br>

        <button type="submit" class="btn btn-danger" asp-controller="Contato" asp-action="ExcluirContato">Apagar</button>
        <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index">Cancelar</a>

    </form>
</div>