@model ContatoModel
@{
    ViewData["Title"] = "Editar registros";
}
<h1 class="display-4">Editar contato:</h1>

<div class="card shadow p-3 mb-5 bg-white rounded">

    <form method="post" enctype="multipart/form-data" asp-controller="Contato" asp-action="Alterar">
        <div class="d-flex">
            <div>
                <div class="form-group">
                    <br />
                    <label class="picture" for="picture_upload" tabindex="0">
                        <span class="exibe_foto"> 
                            <button type="button" id="remove_foto">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <img src="@Model.GetImagePath()" onerror="this.onerror=null; this.src='/img/sem-foto.jpeg'">
                        </span>
                        <input type="file" accept="image/jpeg" class="custom-file-input" id="picture_upload" name="picture_upload" />
                    </label>
                </div>
            </div>

            <div class="boxInputs">
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" asp-for="Nome" class="form-control" id="txtNome"  placeholder="Seu nome">
                </div>
                <br />
                <div class="form-group">
                    <label>E-mail:</label>
                    <input type="email" asp-for="Email" class="form-control" id="txtEmail" placeholder="Seu E-mail">
                </div>
                <br />
                <div class="form-group">
                    <label>Celular:</label>
                    <input type="text" asp-for="Celular" class="form-control" id="txtTelefone" placeholder="()_____-____">
                </div>
            </div>
        </div>

        <br />

        <button type="submit" class="btn btn-primary">Alterar</button>
        <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index">Voltar</a>

    </form>
</div>