@{
    ViewData["Title"] = "Registo de contatos";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<h1 class="display-4">Lista de contatos:</h1>

<div class="text-center">
    
    <table class="table">

        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                </th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </th>
                <th scope="col">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td> <img src="img/perfil.jpg" alt="contato" style="width:45px; height:45px" class="rounded-circle"></td>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td><a class="btn btn-info" asp-controller="Contato" asp-action="Editar">Editar</a></td>
                <td><a class="btn btn-danger" asp-controller="Contato" asp-action="Apagar">Apagar</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td> <img src="img/sem-foto.jpg" alt="contato" style="width:45px; height:45px" class="rounded-circle"></td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td><a class="btn btn-info" asp-controller="Contato" asp-action="Editar">Editar</a></td>
                <td><a class="btn btn-danger" asp-controller="Contato" asp-action="Apagar">Apagar</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td> <img src="img/sem-foto.jpg" alt="contato" style="width:45px; height:45px" class="rounded-circle"></td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td><a class="btn btn-info" asp-controller="Contato" asp-action="Editar">Editar</a></td>
                <td><a class="btn btn-danger" asp-controller="Contato" asp-action="Apagar">Apagar</a></td>
            </tr>
        </tbody>

    </table>
</div>
</br>
<a class="btn btn-primary" asp-controller="Contato" asp-action="Criar">Adicionar contato</a>