html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
    
body {
  margin-bottom: 60px;
}

.boxInputs {
    display: flex;
    flex-direction: column; 
    width: 90%;
    margin-left:50px;
}

.field-validation-error{
    color: red;
}

.dropdown-item:hover {
    color: #3C97FF;
}

.list-group a:hover {
    color: #3C97FF;
}

.material-symbols-outlined:hover {
    color: #3C97FF;
}

.dropdown-menu a:hover {
    color: #3C97FF;
}

.show-password:hover {
    cursor: pointer;
    color: #386CC1;
    user-select: none;
}

.navbar-brand:hover {
    cursor: pointer;
}
/* Estilo da parte de upload de foto de perfil ao cadastrar um contato*/
#picture_upload {
    display: none;
}

.picture {  
    background-color: #ddd;
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 3px dashed #aaa;
    border-radius: 50%;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
}

.picture_show {
    background-color: #ddd;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 0.5px black;
    border-radius: 50%;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
}

.picture_show img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.picture:hover{
    color: #888;
    background: #ccc;
}

.picture:active {
    color: dodgerblue;
    border-color: dodgerblue;
    background: #eee;
}

.picture:focus {
    color: dodgerblue;
    border-color: dodgerblue;
    background: #eee;
    box-shadow: 0 0 10px dodgerblue;
}

.picture_show, .exibe_foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture_show img, .exibe_foto img {
    width: 105%;
    object-fit: cover;
}

#remove_foto {
    position: absolute;
    border: 1px #aaa;
    border-radius: 50%;
}
#remove_foto:hover {
    color: dodgerblue;
}

/*----------------------------------------------------*/


/* Style radio button */
.radio-buttons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
    transform: translateY(-50%) scale(0.9);
    border: 5px solid #4c8bf5;
    color: #4c8bf5;
}

.radio-button__input:checked + .radio-button__label {
    color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
    transform: translateY(-50%) scale(1.2);
    border-color: #4c8bf5;
    box-shadow: 0 0 10px #4c8bf580;
}
/*----------------------------------------------------*/

body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


.checkboxtoggler {
    width: 3em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    cursor: pointer;
}

.line-1 {
    background: Black;
    height: 0.2em;
    border-radius: 10em;
    transition-duration: 500ms;
}

.line-2 {
    background: Black;
    height: 0.2em;
    border-radius: 10em;
    transition-duration: 500ms;
}

.line-3 {
    background: Black;
    height: 0.2em;
    border-radius: 10em;
    transition-duration: 500ms;
}

#toggleChecker {
    height: 2.5em;
    width: 100%;
    display: none;
}

    #toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
        -webkit-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
        -ms-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
        transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
    }

    #toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
        -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
        -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
        transform: rotate(-45deg) translateY(0em) translateX(0.1em);
    }

    #toggleChecker:checked + #togglerLable .checkboxtoggler .line-3 {
        transform: scaleX(0);
        transform-origin: left;
    }