html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
    
body {
  margin-bottom: 60px;
}

.container {
    height: 100%;
}

.boxInputs {
    display: flex;
    flex-direction: column; 
    width: 90%;
    margin-left:50px;
}

.field-validation-error{
    color: red;
}

.dropdown-item:hover {
    color: #3C97FF;
}

.list-group a:hover {
    color: #3C97FF;
}

#notifications-bell:hover {
    color: #3C97FF;
}

.dropdown-menu a:hover {
    color: #3C97FF;
}

.show-password:hover {
    cursor: pointer;
    color: #386CC1;
    user-select: none;
}

.navbar-brand:hover {
    cursor: pointer;
}
/* Estilo da parte de upload de foto de perfil ao cadastrar um contato*/
#picture_upload {
    display: none;
}

.picture {  
    background-color: #ddd;
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 3px dashed #aaa;
    border-radius: 50%;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
}

.picture_show {
    background-color: #ddd;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 0.5px black;
    border-radius: 50%;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
}

.picture_show img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.picture:hover{
    color: #888;
    background: #ccc;
}

.picture:active {
    color: dodgerblue;
    border-color: dodgerblue;
    background: #eee;
}

.picture:focus {
    color: dodgerblue;
    border-color: dodgerblue;
    background: #eee;
    box-shadow: 0 0 10px dodgerblue;
}

.picture_show, .exibe_foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture_show img, .exibe_foto img {
    width: 105%;
    object-fit: cover;
}

#remove_foto {
    position: absolute;
    border: 1px #aaa;
    border-radius: 50%;
}
#remove_foto:hover {
    color: dodgerblue;
}

/*----------------------------------------------------*/


/* Style radio button */
.radio-buttons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
    transform: translateY(-50%) scale(0.9);
    border: 5px solid #4c8bf5;
    color: #4c8bf5;
}

.radio-button__input:checked + .radio-button__label {
    color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
    transform: translateY(-50%) scale(1.2);
    border-color: #4c8bf5;
    box-shadow: 0 0 10px #4c8bf580;
}
/*----------------------------------------------------*/

body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 0px;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
    z-index: 2
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.background-burguer {
    border-radius: 16px;
    border: 1px solid gray;
    mix-blend-mode: luminosity;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(15px);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 40px;
    background: transparent;
    cursor: pointer;
}

.burger input {
    display: none;
}

.burger span {
    position: absolute;
    height: 3px;
    width: 100%;
    background: gray;
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:hover {
    color: #3C97FF;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}


.white {
    background-color: #FFF !important;
}

.blue-grey {
    background-color: #ECEFF1 !important;
}

.light-blue {
    background-color: #E3F2FD !important;
}

.deep-purple {
    background-color: #EDE7F6 !important;
}

.grey {
    background-color: #EEEEEE !important;
}

.dark {
    background-color: #212121 !important;
}

.blue-grey-dark {
    background-color: #37474F !important;
}

.teal-dark {
    background-color: #004D40 !important;
}

.deep-purple-dark {
    background-color: #4527A0 !important;
}

.grey-dark {
    background-color: #424242 !important;
}

.container-ocorrencias {
    height: 300px; /* Defina a altura desejada para a div */
    overflow-y: auto; /* Adiciona um scroll vertical quando necessário */
}