@model ContatoModel
@{
    ViewData["Title"] = "Pagina Inicial";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<br />

<div class="text-center">
    <h2 class="display-4">Bem vindo a sua agenda de contatos!</h2>
</div>

<br />

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/img/agenda.jpg" alt="Imagem de capa do card">
    <div class="card-body">
        <h5 class="card-title">
            <span class="material-symbols-outlined">
                group
            </span>
            Lista de contatos
        </h5>
        <p class="card-text">Consultar e controlar minha lista de contatos.</p>
        <a class="btn btn-primary" asp-controller="Contato" asp-action="Index">Acessar</a>
    </div>
</div>
