@{
    ViewData["Title"] = "Pagina Inicial";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<br />

<div class="text-center">
    <h2 class="display-4">Bem vindo de volta, veja o que a de novo!</h2>
</div>

<br />
<div class="d-flex">
    @await Component.InvokeAsync("Menu")
</div>
