@{
    ViewData["Title"] = "Requisições do usuário";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

@if (TempData["MensagemSucesso"] != null)
{

    <div class="alert alert-success mb-0 alert-dismissible fade show d-flex" id="alertExample" role="alert" data-mdb-color="secondary">
        <span class="material-symbols-outlined" style="padding-right:5px;">
            check_circle
        </span>
        @TempData["MensagemSucesso"]
        <button type="button" class="btn-close ms-2" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["MensgemErro"] != null)
{
    <div class="alert alert-danger mb-0 alert-dismissible fade show d-flex" id="alertExample" role="alert" data-mdb-color="secondary">
        <button type="button" class="btn-close" id="close-alert" aria-label="Close"></button>
        <span class="material-symbols-outlined" style="padding-right:5px;">
            error
        </span>
        @TempData["MensgemErro"]
    </div>

}

<h1 class="display-4">Requisições:</h1>

<br />

<div>
    <div>
        <div class="mb-2 ps-1 pe-1 pt-1">
            <a id="btn-cria-req" class="btn btn-primary btn-sm d-inline-flex">
                <span class="material-symbols-outlined">
                    add
                </span>
                Novo
            </a>
        </div>

        <div class="card d-flex flex-row mt-3">
            <div class="input-group mb-3 ps-1 pe-1 pt-3">
                <span class="input-group-text" id="basic-addon1">Nº</span>
                <input type="text" class="form-control w-25" />
            </div>

            <div class="input-group mb-3 ps-1 pe-1 pt-3">
                <span class="input-group-text" id="basic-addon1">Usuário</span>
                <input type="text" class="form-control w-25" />
                <input type="text" class="form-control w-25" />
            </div>

            <div class="input-group mb-3 ps-1 pe-1 pt-3">
                <label class="input-group-text">Situação</label>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="">Selecione</option>
                    <option value="">Aberto</option>
                    <option value="">Encerrados</option>
                </select>
            </div>
        </div>


        <div class="mb-1 ps-1 pe-1 pt-3">
            <a class="btn btn-primary btn-sm d-inline-flex">
                <span class="material-symbols-outlined">
                    search
                </span>
                Buscar
            </a>
            <a class="btn btn-info btn-sm d-inline-flex" style="color:#fff;" id="minhasReq-btn">
                <span class="material-symbols-outlined">
                    view_list
                </span>
                Minhas requisições
            </a>
            <a class="btn btn-secondary btn-sm d-inline-flex">
                <span class="material-symbols-outlined">
                    filter_alt
                </span>
                Filtros
            </a>
        </div>
    </div>

    <br />
    <div class="card">
        <div class="table-container"></div>
    </div>
</div>

<br />

<!--Modal que para criar uma nova requisicao-->
<div id="modalCriarReq" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Criar requisição</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex w-responsive flex-row flex-wrap w-100">

                    <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                        <span class="pt-1 pe-1">Responsável:</span>
                        <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodRes">
                        <input type="text" class="form-control w-50" id="txtResponsavel">

                    </div>

                    <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                        <span class="pt-1 pe-1">Cliente:</span>
                        <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodCliente">
                        <input type="text" class="form-control w-50" id="txtCliente">
                    </div>

                    <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                        <span class="pt-1 pe-1">Prioridade:</span>
                        <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodPrio">
                        <input type="text" class="form-control w-50" id="txtPrioridade">
                    </div>

                    <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                        <span class="pt-1 pe-1">Status:</span>
                        <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodStatus">
                        <input type="text" class="form-control w-50" id="txtStatus">
                    </div>

                    <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                        <span class="pt-1 pe-1">Usuário:</span>
                        <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodUsu">
                        <input type="text" class="form-control w-50" id="txtUsuario">
                    </div>
                </div>
                <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                    <span class="pt-1 pe-1">Título:</span>
                    <input type="text" class="form-control" id="txtTitulo">
                </div>
                <div class="card">
                    <div class="card-header">
                        Ocorrência
                    </div>
                    <div class="input-group mb-2 ps-1 pe-1 pt-2">
                        <textarea class="form-control" id="floatingTextarea2" style="height: 300px"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Criar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal que para encaminhar uma requisição-->
<div id="modalEncaminihar" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Modal dos filtros-->
<div id="modalFiltros" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Save changes</button>
            </div>
        </div>
    </div>
</div>