@model ControleDeContatos.Models.Requisicao.RequisicaoViewModel
@{
    ViewData["Title"] = "Requisições do usuário";
}

@if (TempData["MensagemSucesso"] != null)
{
    <br />
    <div class="alert alert-success mb-0 alert-dismissible fade show d-flex" id="alertExample" role="alert" data-mdb-color="secondary">
        <span class="material-symbols-outlined" style="padding-right:5px;">
            check_circle
        </span>
        @TempData["MensagemSucesso"]
        <button type="button" class="btn-close ms-2" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["MensgemErro"] != null)
{
    <br />  
    <div class="alert alert-danger mb-0 alert-dismissible fade show d-flex" id="alertExample" role="alert" data-mdb-color="secondary">
        <span class="material-symbols-outlined" style="padding-right:5px;">
            error
        </span>
        @TempData["MensgemErro"]
        <button type="button" class="btn-close ms-2" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>

}

<h1 class="display-4">Requisições:</h1>

<br />

<div>
    <div>
        <div class="mb-2 ps-1 pe-1 pt-1">
            <a id="btn-cria-req" class="btn btn-primary btn-sm d-inline-flex">
                <span class="material-symbols-outlined">
                    add
                </span>
                Novo
            </a>
        </div>

        <div class="d-flex w-responsive flex-row flex-wrap w-100 card jus">

            <div class="mb-2 ps-2 pe-2 pt-2">
                <label for="txtCodRequisicao" class="form-label">Nº</label>
                <input type="text" class="form-control pe-2" style="width:90px;" id="txtCodRequisicao">
            </div>

            <div class="mb-2 ps-1 pe-1 pt-2">
                <label for="txtTitulo" class="form-label">Titulo</label>
                <input type="text" class="form-control pe-2" id="txtTitulo">
            </div>

            <div class="mb-2 ps-1 pe-1 pt-2">
                <label for="txtCodUsu" class="form-label">Usuário</label>
                <div class="d-flex">
                    <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodUsu">
                    <input type="text" class="form-control" id="txtUsuario">
                </div>
            </div>

            <div class="mb-2 ps-1 pe-1 pt-2">
                <label for="txtCodCliente" class="form-label">Cliente</label>
                <div class="d-flex">
                    <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodCliente">
                    <input type="text" class="form-control" id="txtCliente">
                </div>
            </div>

            <div class="mb-2 ps-1 pe-1 pt-2">
                <label for="slcEstadoReq" class="form-label">Estado</label>
                <select class="form-select" id="slcEstadoReq">
                    <option value="0" selected>Selecione</option>
                    <option value="1">Aberto</option>
                    <option value="2">Encerrado</option>
                </select>
            </div>

        </div>


        <div class="mb-1 ps-1 pe-1 pt-3">
            <a class="btn btn-primary btn-sm d-inline-flex" id="btnBuscarRequisicoes">
                <span class="material-symbols-outlined">
                    search
                </span>
                Buscar
            </a>
            <a class="btn btn-info btn-sm d-inline-flex" style="color:#fff;" id="minhasReq-btn">
                <span class="material-symbols-outlined">
                    view_list
                </span>
                Minhas requisições
            </a>
            <a class="btn btn-secondary btn-sm d-inline-flex">
                <span class="material-symbols-outlined">
                    filter_alt
                </span>
                Filtros
            </a>
        </div>
    </div>

    <br />
    <div class="card">
        <div class="table-container"></div>
    </div>
</div>

<br />

<!--Modal que para criar uma nova requisicao-->
<div id="modalCriarReq" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Criar requisição</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Requisicao" asp-action="CriarReq" method="post">
                <div class="modal-body">
                    <div class="d-flex w-responsive flex-row flex-wrap w-100">

                        <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                            <span class="pt-1 pe-1">Responsável:</span>
                            <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodRes" asp-for="requisicao.id_responsavel">
                            <input type="text" class="form-control w-50" id="txtResponsavel">

                        </div>

                        <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                            <span class="pt-1 pe-1">Cliente:</span>
                            <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodCliente" asp-for="requisicao.id_cliente">
                            <input type="text" class="form-control w-50" id="txtCliente">
                        </div>

                        <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                            <span class="pt-1 pe-1">Prioridade:</span>
                            <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodPrio" asp-for="requisicao.id_prioridade">
                            <input type="text" class="form-control w-50" id="txtPrioridade">
                        </div>

                        <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                            <span class="pt-1 pe-1">Status:</span>
                            <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodStatus" asp-for="requisicao.status">
                            <input type="text" class="form-control w-50" id="txtStatus">
                        </div>

                        <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                            <span class="pt-1 pe-1">Usuário:</span>
                            <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodUsu" asp-for="requisicao.id_usuario">
                            <input type="text" class="form-control w-50" id="txtUsuario">
                        </div>
                    </div>
                    <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                        <span class="pt-1 pe-1">Título:</span>
                        <input type="text" class="form-control" id="txtTitulo" asp-for="requisicao.titulo_requisicao">
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Ocorrência
                        </div>
                        <div class="input-group mb-2 ps-1 pe-1 pt-2">
                            <textarea class="form-control" id="floatingTextarea2" style="height: 300px"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-primary" value="Gravar">
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal que para encaminhar uma requisição-->
<div id="modalEncaminharReq" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Encaminhar requisição</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Requisicao" asp-action="EncaminharReq" method="post">
                <div class="modal-body">
                    <div class="d-flex w-responsive flex-row flex-wrap w-100">

                        <input type="hidden" id="hdnCodReq" name="id_requisicao" asp-for="requisicao_ocorrencia.id_requisicao"/>

                        <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                            <span class="pt-1 pe-1">Status:</span>
                            <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodStatus" name="id_status" asp-for="requisicao_ocorrencia.id_status">
                            <input type="text" class="form-control w-50" id="txtStatus">
                        </div>

                        <div class=" d-flex mb-2 ps-1 pe-1 pt-2">
                            <span class="pt-1 pe-1">Usuário:</span>
                            <input type="text" class="form-control pe-2" style="width:60px;" id="txtCodUsu" name="id_usuario" asp-for="requisicao_ocorrencia.id_usuario">
                            <input type="text" class="form-control w-50" id="txtUsuario">
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Ocorrência
                        </div>
                        <div class="input-group mb-2 ps-1 pe-1 pt-2">
                            <textarea class="form-control" id="floatingTextarea2" style="height: 300px" name="detalhe_ocorrencia" asp-for="requisicao_ocorrencia.detalhe_ocorrencia"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-primary" value="Encaminhar">
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal dos filtros-->
<div id="modalFiltros" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Save changes</button>
            </div>
        </div>
    </div>
</div>