@model ControleDeContatos.Models.Usuario.UsuarioModel

<!--Main Navigation-->
<header>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a class="list-group-item list-group-item-action py-2 ripple d-flex"
                   aria-current="true"
                   asp-controller="Home" asp-action="Index">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                   Home
                </a>
                <a class="list-group-item list-group-item-action py-2 ripple d-flex"
                   aria-current="true"
                   asp-controller="Requisicao" asp-action="Index">
                    <span class="material-symbols-outlined">
                        list
                    </span>
                    Atendimentos
                </a>
                <a class="list-group-item list-group-item-action py-2 ripple d-flex"
                   aria-current="true"
                   asp-controller="Chat" asp-action="Index">
                    <span class="material-symbols-outlined" style="padding-right:5px;">
                        chat
                    </span>
                    Chat de clientes
                </a>
                @if (Model.Tipo_Usuario == ControleDeContatos.Enums.PerfilEnum.Admin)
                {
                    <a class="list-group-item list-group-item-action py-2 ripple d-flex"
                       aria-current="true"
                       asp-controller="Usuario" asp-action="Index">
                        <span class="material-symbols-outlined" style="padding-right:5px;">
                            group
                        </span>
                        Controle Acessos
                    </a>
                }
                <a class="list-group-item list-group-item-action py-2 ripple d-flex"
                   aria-current="true"
                   asp-controller="Contato" asp-action="Index">
                    <span class="material-symbols-outlined" style="padding-right:5px;">
                        contact_phone
                    </span>
                    Lista de clientes
                </a>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Left elements -->
            <div class="background-burguer">
                <label class="burger" for="burger">
                    <input type="checkbox" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <!-- Left elements -->

            <!-- Center elements -->
            <div class="collapse navbar-collapse justify-content-center"id="navbarCenteredExample">
            </div>
                
            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->

                <!-- Notifications -->
                <div class="dropdown">
                    <a data-mdb-dropdown-init
                       class="text-reset me-3 dropdown-toggle hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuLink"
                       role="button"
                       aria-expanded="false">
                        <span class="material-symbols-outlined" id="notifications-bell">
                            notifications
                        </span>
                        <!-- Notifications Number-->
                        <span class="badge rounded-pill badge-notification bg-danger">0</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Something else here</a>
                        </li>
                    </ul>
                </div>
                <!-- Avatar -->
                <div class="dropdown d-flex me-2">
                    <strong class="d-none d-sm-block m-md-3">Olá, @Model.GetNome()</strong>
                    <a data-mdb-dropdown-init
                       class="dropdown-toggle d-flex align-items-center hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuAvatar"
                       role="button"
                       aria-expanded="false">
                        <img src=@Model.GetImagePath() onerror="this.onerror=null; this.src='/img/sem-foto.jpeg'"
                             class="rounded-circle"
                             height="40"
                             alt="Foto Usuario"
                             loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" asp-controller="Usuario" asp-action="ContaUsuario" asp-route-id="@Model.Id">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Peril" asp-action="Configurações" asp-route-id="@Model.Id">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Login" asp-action="Sair">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->
<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4"></div>
</main>
<!--Main layout-->