@model UsuarioModel

@if (Model.Tipo_Usuario == ControleDeContatos.Enums.PerfilEnum.Admin)
{
    <div class="card me-3" style="width: 18rem;">
        <img class="card-img-top" src="~/img/usuario.png" alt="Imagem de capa do card" style="width: 100%; height: auto;">
        <div class="card-body">
            <h5 class="card-title d-flex" style="padding-right:5px;">
                <span class="material-symbols-outlined" style="padding-right:5px;">
                    group
                </span>
                Controle Acessosss
            </h5>
            <p class="card-text">Gerenciamento de acessos.</p>
            <a class="btn btn-primary" asp-controller="Usuario" asp-action="Index">Acessar</a>
        </div>
    </div>
}
<div class="card me-3" style="width: 18rem;">
    <img class="card-img-top" src="~/img/clientes.png" alt="Imagem de capa do card" style="width: 100%; height: auto;">
    <div class="card-body">
        <h5 class="card-title d-flex">
            <span class="material-symbols-outlined" style="padding-right:5px;">
                contact_phone
            </span>
            Lista de clientes
        </h5>
        <p class="card-text">Consultar cliente.</p>
        <a class="btn btn-primary" asp-controller="Contato" asp-action="Index">Acessar</a>
    </div>
</div>

<div class="card me-3" style="width: 18rem;">
    <img class="card-img-top" src="~/img/chat.png" alt="Imagem de capa do card" style="width: 100%; height: auto;">
    <div class="card-body">
        <h5 class="card-title d-flex" style="padding-right:5px;">
            <span class="material-symbols-outlined" style="padding-right:5px;">
                chat
            </span>
            Chat de clientes
        </h5>
        <p class="card-text">Ver o chat.</p>
        <a class="btn btn-primary" asp-controller="Chat" asp-action="Index" asp-route-id="@Model.Id">Acessar</a>
    </div>
</div>