@model ControleDeContatos.Models.Usuario.UsuarioModel


<!------------------------------------- CDN do Jquery ---------------------------------------------------->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<!-------------------------------------------------------------------------------------------------------->
<!----------------------------------- CDN'S do Full Calender --------------------------------------------->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script src='~/js/fullcalendar/packages/bootstrap5/index.global.js'></script>
<script src='~/js/calendario.js'></script>
<!-------------------------------------------------------------------------------------------------------->


<div>
    <div id='calendar'></div>

    <br />
    <div class="d-flex">
        <div class="d-flex">
            <div style="background-color:#8687A6;border-radius: 50%; width:15px; height:15px; margin: auto;"></div>
            <span class="ml-2 ps-1 pe-2">Demandas</span>
        </div>
        <div class="d-flex">
            <div style="background-color:#3788D8;border-radius: 50%; width:15px; height:15px; margin: auto;"></div>
            <span class="ml-2 ps-1 pe-2">Reunião</span>
        </div>
        <div class="d-flex">
            <div style="background-color:#FFF200;border-radius: 50%; width:15px; height:15px; margin: auto;"></div>
            <span class="ml-2 ps-1 pe-2">Eventos</span>
        </div>
    </div>


    <div id="modalCreateEvent" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="boxInputs">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" id="typeText" class="form-control" />
                            <label class="form-label" for="typeText">Título do evento</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="time">Time</label>
                            <div class="input-group date" id="timePicker">
                                <input type="text" class="form-control timePicker">
                                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group col-md-6">
                            <label for="time">Time</label>
                            <div class="input-group date" id="timePicker">
                                <input type="text" class="form-control timePicker">
                                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-mdb-ripple-init>Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>

