@{
    ViewData["Title"] = "Chat Privado";
}
<br />


<div class="card">
    <div class="card-header bg-primary" style="color:#fff;">Foto Nome</div>
    <div class="card-body" style="height:700px;">
    </div>
    <div class="card-footer text-muted d-flex">
        <a class="btn btn-primary me-2">
            <span class="material-symbols-outlined">
                mood
            </span>
        </a>
        <a class="btn btn-primary me-2">
            <span class="material-symbols-outlined">
                attach_file
            </span>
        </a>
        <input type="text" class="form-control w-75 me-2" id="message-input" placeholder="Digite sua mensagem...">
        <a class="btn btn-primary">
            <span class="material-symbols-outlined">
                mic
            </span>
        </a>
    </div>
</div>